# .env file for the FastAPI backend
GOOGLE_CREDENTIALS_FILE=../gym-performance-tracker-489013-6dc15c8cd668.json
# Get this from your .streamlit/secrets.toml
SPREADSHEET_URL=your_google_spreadsheet_url_here
